{% extends 'base.html'%}
{% block content %}

<div class="lobby">
    <h3>Room {{code}}</h3>
    <form method="post">
        <button type="submit" name="startGame" class="startGame">Start Game</button>
    </form>
    <ul>
    {% if players %}
        <li>{{you}}</li>
        {% for player in players %}
            <li>{{player}}</li>
        {% endfor %}
    {% endif %}
    </ul>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
<script type="text/javascript">
    var socketio = io();

    // Connect event handler
    socketio.on('connect', function() {
        console.log('Connected to the SocketIO server.');
        // Any additional logic or actions you want to perform when connected
    });

    // Disconnect event handler
    socketio.on('disconnect', function() {
        console.log('Disconnected from the SocketIO server.');
        // Any additional logic or actions you want to perform when disconnected
    });
</script>
{% endblock %}